################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/graphs/v15
/.vscode
/build
/build_ustav
/Debug
*.vcxproj
*.user
*.filters
*.sln
/Topology.hpp
/Topology.cpp
